.space {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.breathe {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; 
}

.space-bot {
  padding-bottom: .7rem; 
}

.inline {
  display: inline;
}

.pull-right {
  float: right !important;
}