@import "globals/vars";
@import "sticky-footer";

hr {
  margin: 0;
}

header {
  li.active, a:hover {
    text-decoration: underline;
  }

  .title, .title * {
    font-size: 1.8rem;
  }

  .name { 
    a:hover {
      text-decoration: none;
    }
  }
}

.main-content {
  position: relative;

  h1 {
    margin: 1rem auto;
    text-align: center;
  }
}

.extra-padding {
  height: 50px;
}

.top-bar .name h1 a {
  font-weight: 300;
}