@import "globals/vars";
@import "sticky-footer";

hr {
  margin: 0;
}

header {
  li.active, a:hover {
    text-decoration: underline;
  }

  .title {
    font-size: 1.8rem;
  }

  .name { 
    a:hover {
      text-decoration: none;
    }
  }
}

.main-content {
  border-left: 1px solid $lightGray; 

  h1.title {
    margin: 10px 0 20px;
  }
}

.extra-padding {
  height: 50px;
}