@import "globals/vars";

blockquote {
  padding: 0;
  margin: 0 50px 25px;
  border: none;
  font-style: italic;
}

h3 {
  margin-bottom: 1.33333rem;
}

.posts {
  margin: 0;
}

.post-title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    font-size: 2rem;    
  }

  aside {
    color: $gray;
  }

  & + a {
    display: block;
    margin-bottom: 20px;
  }
}