@import "globals/vars";
@import "base";

.flex-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-title {
  aside {
    color: $gray;
  }
}

// Temporary until we can figure out our layout situation
// @import "contact";
// @import "consulting";