@import "globals/vars";
@import "base";

hr {
  margin: 0;
}

ul.side-nav {
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  } 
}

.main-content {
  border-left: 1px solid $lightGray; 
}

.flex-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-title {
  aside {
    color: $gray;
  }
}

// Temporary until we can figure out our layout situation
// @import "contact";
// @import "consulting";