{{template "header.html" .}}

<h1>Blog Posts</h1>

<p>A rough collection of my blog posts so far.  General disclaimer:  Everything you read here is a <a href="http://www.codinghorror.com/blog/2008/05/strong-opinions-weakly-held.html">strong opinion, weakly held.</a>  When the facts change, I change my mind, truth is subjectivity, and subjectivity is truth.  Enjoy.</p>

<!-- <div class="flex-title">
  <a href="/2014/cigarettes" class="title">The Age of Bronze</a>
  <aside>// january 23, 2014</aside>
</div> -->

<div class="flex-title">
  <a href="/2014/clueless" class="title">I Have No Idea What I'm Doing</a>
  <aside>// january 28, 2014</aside>
</div>

{{template "footer.html" .}}