{{template "header.html" .}}

<h1 class="title">Words</h1>

<p>A rough collection of my blog posts so far.  General disclaimer:  Everything you read here is a <a href="http://www.codinghorror.com/blog/2008/05/strong-opinions-weakly-held.html">strong opinion, weakly held.</a>  When the facts change, I change my mind, truth is subjectivity, and subjectivity is truth.  Enjoy.</p>

<ul class="posts">
  <div class="post-title">
    <a href="/2014/clueless">I Have No Idea What I'm Doing</a>
    <aside>// january 28, 2014</aside>
  </div>
</ul>

{{template "footer.html" .}}