{{template "layout-top.html" .}}

<section id="home" class="content">
  <h1>Effective web marketing drives sales.</h1> 
  <p>
    Increasingly, people are turning online to buy products, find services, and get information.  If your business isn't able to be discovered easily online, you are likely missing out on a valuable and growing market segment.              
  </p>
  <br />
  <section class="snippet">
    <h2>Market your business</h2>
    <ul>
      <li>- Traditional and mobile websites</li>
      <li>- Google and Bing discovery</li>
      <li>- Facebook, Twitter, and LinkedIn</li>
      <li>- Yelp and other rating sites</li>
      <li>- Online communities & forums</li>
    </ul>
  </section>
  <section class="snippet">
    <h2>Inform your customers</h2>
    <ul>
      <li>- Catalogue your products and services</li>
      <li>- Phone, email, and online support</li>
      <li>- Blogs, announcements, press releases</li>
      <li>- Specials deals or offers </li>
      <li>- Product / sales information </li>
      <li>- Locations, available hours, and events</li>
    </ul>
  </section>
  <section class="snippet">
    <h2>Run things smoothly</h2>
    <ul>
      <li>- Web analytics, statistics, reports</li>
      <li>- Converstion tracking and optimization</li>
      <li>- Custom domains & email addresses</li>
      <li>- Billing, reporting, and CRM software</li>
      <li>- HR and scheduling solutions</li>
      <li>- Any other custom software -- Just ask!</li>
    </ul>
  </section>
  <br style="clear:both;" />
  <br />
  <article id="call_emphasis">
    <p id="call_emphasis">The bottom line is, investing a little into technology can earn you a lot.  <span id="call_detail">No matter what industry you're in, software can save you and your customers time, manage the complexitiy of business, and bring new customers to your doorstep. If you have questions about these <a href="services.html">services</a>, feel free to <a href="contact.html">contact</a> me or check out my <a href="blog.html">blog</a>.  Or, you can take a look at some of my past <a href="portfolio.html">work</a>:</span></h2>
  </article>
</section>

{{template "layout-bot.html" .}}