{{template "layout-top.html" .}}

<section class="contact-sec">
  <h1>Contact Me</h1>
  <div class="large-3 columns">
    <h4>Social</h4>
    <ul>
      <li><a href="https://www.github.com/c-johnson">Github</a></li>
      <li><a href="https://www.facebook.com/christopher.keit.johnson">Facebook</a></li>
      <li><a href="https://plus.google.com/u/0/106870855166225215149">Google +</a></li>
      <li><a href="https://www.linkedin.com/in/ckjohnson7">LinkedIn</a></li>
      <li><a href="https://stackoverflow.com/users/376413/chris-j">Stack Overflow</a></li>
      <li><a href="https://www.quora.com/Christopher-Johnson-6">Quora</a></li>
    </ul>
  </div>
  <div class="large-3 columns">
    <h4>Email</h4>
    <div>
      <label>work:</label>
      <span>chris@cjohnson.io<span>
    </div>
    <div>
      <label>personal:</label>
      <span>who_is_chuck@yahoo.com<span>
    </div>
  </div>
  <div class="large-3 columns">
    <h4>oldMail</h4>
    <div>2810 P St., Apt 2</div>
    <span>Lincoln, NE, 68508</span>
    <br />
    <h4>Skype</h4>
    <span>Don't use Skype.  It's horrible bloatware.  </span>
  </div>
  <div class="large-3 columns">
    <h4>Other</h4>
    <ul>
      <li><label>gtalk:</label>  ckjohnson7</li>
      <li><label>aim:</label>  LiftHandleToOpen</li>
      <li><label>xanga:</label>  okay, we're getting a little personal here...</li>
    </ul>    
  </div>
</section>

{{template "layout-bot.html" .}}