{{template "header.html" .}}

<link rel="stylesheet" type="text/css" href="/public/css/work.css">

<ul class="subnav small" data-subnav-switcher="work" data-subnav-default="#past-work">
  <li><a href="#past-work">Past Work</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#skills">Skills</a></li>
</ul>

<section data-subnav-section="work" id="past-work">
  <h1 class="title">Past Work</h1>

  <ul class="large-block-grid-2">
    <li class="work-item">
      <h3>LocBox</h3>
      <a class="work-box" href="http://www.locbox.com" target="_blank">
        <img class="cropped" src="/public/img/locbox.png" style="top: 163px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Tradeking API Challenge</h3>
      <a class="work-box" href="http://www.apicampuschallenge.com" target="_blank">
        <img class="cropped" src="/public/img/tradeking.jpg">
      </a>
    </li>
    <li class="work-item">
      <h3>Main Street Carpentry</h3>
      <a class="work-box" href="http://www.mainstreetcarpentry.com" target="_blank">
        <img class="cropped" src="/public/img/mainst.png">
      </a>
    </li>
    <li class="work-item">
      <h3>The World Energy Project</h3>
      <a class="work-box" href="http://www.cjohnson.io/wep" target="_blank">
        <img src="/public/img/wep.png" style="top: 136px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Magnolia Metals</h3>
      <a class="work-box" href="http://www.magnoliabronze.com" target="_blank">
        <img class="cropped" src="/public/img/magnolia.png" style="top: 103px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Premier Parking Services</h3>
      <a class="work-box" href="http://www.premier-parking.com" target="_blank">
        <img class="cropped" src="/public/img/premier.png" style="top: 100px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Scripted (VMWare)</h3>
      <a class="work-box" href="https://github.com/scripted-editor/scripted" target="_blank">
        <img class="cropped" src="/public/img/scripted.png" style="top: 34px;">
      </a>
    </li>
    <li class="work-item">
      <h3>This Site</h3>
      <a class="work-box" href="javascript:void(0);">
        <img class="cropped" src="/public/img/chome.png" style="top: 34px;">
      </a>
    </li>
  </ul>
</section>

<section class="slim row" id="services" data-subnav-section="work">
  <h1 class="title">What I Do</h1>
  <div class="columns large-6">
    Hi!
  </div>
  <div class="columns large-6">
    Hello
  </div>
</section>

<section id="skills" data-subnav-section="work">
  <h1 class="title">Buzzwords</h1>
  <ul class="large-block-grid-2 small">
    <li class="skill-set">
      <div class="subtitle">Frontend</div>
      <ul>
        <li>html5 + css3 Markup</li>
        <li>javascript (Ember, Angular)</li>
        <li>cross-browser & device (IE8+)</li>
        <li>testing (phantomjs, karma)</li>
      </ul>
    </li>
    <li class="skill-set">
      <div class="subtitle">Devops</div>
      <ul>
        <li>deployment + testing (Docker, Bash / Unix)</li>
        <li>server administration (nginx, daemons, monitoring)</li>
        <li>host and service management (SOA)</li>
        <li>developer tooling, code standards, productivity</li>
      </ul>
    </li>
    <li class="skill-set">
      <div class="subtitle">Backend</div>
      <ul>
        <li>REST-ful web services (.NET, rails, golang)</li>
        <li>Data storage + admin (SQL, MongoDB, redis)</li>
        <li>performance analysis + tuning (RUM)</li>
        <li>real-time analytics</li>
        <li>basic security (OWASP top ten)</li>
      </ul>
    </li>
    <li class="skill-set">
      <div class="subtitle">UX / Design</div>
      <ul>
        <li>100% responsive design</li>
        <li>product development (idea -> product)</li>
        <li>marketing / business strategy</li>
        <li>conversion optimization + A/B testing</li>
        <li>basic photoshop skills</li>
      </ul>
    </li>
  </ul>
</section>

{{template "footer.html" .}}