{{set . "title" "World of Chris"}}
<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    
    <script data-main="public/js/main.js" src="public/bowerc/requirejs/require.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Small and medium business web design and consulting.">
    <meta name="keywords" content="web design, web development, web marketing, google results, small business, kansas city, missouri, lincoln, nebraska">
  </head>
  <body>

    <header class="row space">
      <div class="large-12 columns">
        <h2 class="inline">Chris Johnson</h2>
        <h6><em>Some dude doing stuff.</em></h6>
      </div>
    </header>
    <hr />

    <div class="row">
      <div class="large-2 columns">
        <ul class="side-nav">
          <li><a href="/" class="active">Web Services</a></li>
          <li><a href="/blog" class="active">Blog</a></li>
          <li><a href="/links">Links</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="large-10 columns space main-content">